body{
    background-color:rgb(23, 91, 23);
}
h1{
    text-size-adjust: 40px;
    text-align: center;
    color: aliceblue;
}
h2{
    color: aliceblue;

.johndeere{
    height: 198.5px;
    width: 132px;
    border-radius: 50px;

}
.livremercado{
    height: 178.29px;
    width: 133px;
    border-radius: 20px;
    

}
.SC{
    height: 176px;
    width: 176px;
    border-radius: 50px;
    

    
}