body{
    background-color:rgb(23, 91, 23);
}
h1{
    text-size-adjust: 40px;
    text-align: center;
    color: aliceblue;
}
h2{
    color: aliceblue;

.johndeere{
    height: 180px;
    width: 180px;
    border-radius: 20px;
}
.livremercado{
    height: 178px;
    width: 178px;
    border-radius: 20px;
}
.SC{
    height: 178px;
    width: 178px;
    border-radius:20px;
}