body{
    background-color:rgb(23, 91, 23);
}
h1{
    text-align: center;
    color: aliceblue;
}
h4{
    color: aliceblue;
}
.johndeere{
    height: 300px;
    width: 300px;
    text-align: end;


}
.livremercado{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    text-align:justify;

}
.SC{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    text-align: end;

    
}